<div class="back-cover-landscape">
  Back Cover
</div>


<div class="front-cover-landscape">
  <%#= image_tag @proof.line_item.card.large_img_url %>
  <!-- <div class="cover-image"> -->
    <%= wicked_pdf_image_tag @proof.line_item.card.large_img_url %>
  <!-- <div> -->
  <!-- <img vertical-align: bottom, src = "https://s3-us-west-2.amazonaws.com/cardtastuk-csv-lists/cards/aws_images/000/000/035/original/3kingsLAND.jpg"> -->

</div>
