<div class="inside-bottom-portrait">
  Dear \<first_name\>

  <div class="greeting">
    <%= @proof.line_item.greeting %>
  </div>

  <%= wicked_pdf_image_tag @proof.line_item.autograph.url, id: "signature-image" %>
</div>


<div class="inside-top-portrait">

  Inside Top

</div>
