<div class="inside-bottom-landscape">
  <%= wicked_pdf_image_tag @proof.line_item.autograph.url, id: "signature-image" %>

  <%#= image_tag @proof.line_item.autograph.url %>
</div>


<div class="inside-top-landscape">

  Inside Top

</div>
