/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset */
* {outline : 1px solid red; }


.outer {
  background-color: #80D6F7;
  /*margin: 5px;*/
  /*padding-bottom: : 5px;*/
}

.inner {
  margin: 5px;
  padding: 5px;
  background-color:  #F680C5;
}

#front-image-landscape {
  height: 434px;
  width: 585px; /*672*/
}

#front-image-portrait {
  width: 100%;
  height: 100%;
/*
  min-width: 100%;
    min-height: 100%*/
  /*height: 585px;*/

}

.rotate {
  -webkit-transform: translateY(-100%) rotate(90deg); /* Safari */
  -moz-transform: translateY(-100%) rotate(90deg); /* Firefox 3.6 Firefox 4 */
  /*-moz-transform-origin: right top; */
  -ms-transform: translateY(-100%) rotate(90deg); /* IE9 */
  -o-transform: translateY(-100%) rotate(90deg); /* Opera */
  transform: translateY(-100%) rotate(90deg); /* W3C */
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  transform-origin: left bottom;

}

#front-cover-portrait {
  width: 440px;
  height: 585px;

  -webkit-transform: translateY(-100%) rotate(90deg); /* Safari */
  -moz-transform: translateY(-100%) rotate(90deg); /* Firefox 3.6 Firefox 4 */
  /*-moz-transform-origin: right top; */
  -ms-transform: translateY(-100%) rotate(90deg); /* IE9 */
  -o-transform: translateY(-100%) rotate(90deg); /* Opera */
  transform: translateY(-100%) rotate(90deg); /* W3C */
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  transform-origin: left bottom;

  position: relative;
  top: -444px;
  left: 0px;

}

#back-cover-landscape {
  text-align: center;
  vertical-align: middle;
  line-height: 434px;
  background-color: white;
  color: #F680C5;
  -webkit-transform: rotate(180deg);
  height: 440px;
}

#back-cover-portrait {
  text-align: center;
  vertical-align: middle;
  line-height: 434px;
  background-color: white;
  color: #F680C5;
  -webkit-transform: rotate(180deg);
  height: 434px;
}

/*#front-cover-landscape {
  height: 434px;
  width: 585px;
}*/

.variable-data {
  color: #F680C5;
  font-family: Arial;
}

#inside-bottom-landscape {
  padding: 30px 20px;
  background-color: white;
  color: black;
  -webkit-transform: rotate(180deg);
  height: 434px;
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#inside-bottom-portrait {
  padding: 30px 20px;
  background-color: white;
  color: black;
  /*-webkit-transform: rotate(90deg);*/
  width: 434px;
  height: 585px;
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;


  -webkit-transform: translateY(-100%) rotate(90deg); /* Safari */
  -moz-transform: translateY(-100%) rotate(90deg); /* Firefox 3.6 Firefox 4 */
  /*-moz-transform-origin: right top; */
  -ms-transform: translateY(-100%) rotate(90deg); /* IE9 */
  -o-transform: translateY(-100%) rotate(90deg); /* Opera */
  transform: translateY(-100%) rotate(90deg); /* W3C */
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  transform-origin: left bottom;

  position: relative;
  top: -595px;
}

#greeting {
  margin: auto;
  font-family: 'Satisfy', cursive;
  height: 400px;
  width: 400px;
}

.greeting-portrait {
  height: 550px;
  width: 250px;
}

.greeting-landscape {
  height: 250px;
  width: 550px;
}

#signature {
  position: absolute;
  bottom: 0;
  right: 0;
}

#inside-top-landscape {
  border-top: solid #F680C5;
  text-align: center;
  vertical-align: middle;
  line-height: 434px;
  background-color: white;
  height: 434px;
}

#inside-top-portrait {
  border-top: solid #F680C5;
  text-align: center;
  vertical-align: middle;
  line-height: 434px;
  background-color: white;
  height: 434px;
  position: relative;
  top: -745px;
}
