.card-description {
  h1 {
    text-align: center;
    margin: 1em 0;
  }
  
  h2 {
    margin-bottom: 1em;
  }
}

.card-details {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #ecf0f1;

  h4 {
    margin-top: 2em;
    text-align: center;
  }

  p {
    font-size: 1.4em;
  }
}

.card-details-button {
  display: block;
  margin: 2em auto;
}

.popover-button {
  display: block;
  border-radius: 20px;
  margin: 2em auto 4em auto;
}

.popover-content {
  p:first-of-type {
    margin-top: 1em;
  }
}