.cards-all {

  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }

  .panel {
    cursor: pointer;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.3);
    transition: box-shadow .5s ease;
  }
  
  .panel:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    transition: box-shadow .5s ease;
  }

  img {
    display: block;
    margin: 0 auto 1.5em auto;
  }
  
  .card-title {
    text-transform: capitalize;
  }
}