.current-card-edit {
  h1 {
    text-align: center;
    margin: 1em 0;
  }

  h2 {
    margin-bottom: 1em;
  }
  h3 {
    text-align: center;
  }
}

form {
  button .btn {
    display: block;
    margin: 1em 0 0 auto;
  }
}

.card-edit-message {
  background-image:  url("/edit-bg.png");
  background-size: cover;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  padding: .5em;
  margin: 0 .5em 3.5em .5em;
  font-size: 2em;
  
  &.dancing-script {
    font-family: 'Dancing Script', cursive;
  }

  &.indie-flower {
    font-family: 'Indie Flower', cursive;
  }

  &.great-vibes {
    font-family: 'Great Vibes', cursive;
  }

  &.amatic-sc {
    font-family: 'Amatic SC', cursive;
  }

  &.satisfy {
    font-family: 'Satisfy', cursive;
  }

  &.shadows-into-light-two {
    font-family: 'Shadows Into Light Two', cursive;
  }

  &.tangerine {
    font-family: 'Tangerine', cursive;
  }

  form {
    textarea {
      font-size: inherit;
      background: none;
      border: none;
      color: $text-color;
      resize: vertical;
    }
    textarea::placeholder {
      color: $text-color;
    }
  }
  .signature {
    text-align: right;
  }
}