.list-resolver {
  h1 {
    text-align: center;
    margin: 1em 0;
  }

  h2 {
    margin-bottom: 1em;
  }

  form {
    margin-bottom: 3em;
  }
  .signature {
    text-align: right;
  }
  .upload-instructions-modal-btn {
    display: block;
    margin: 2em auto;
    background-color: $brand-secondary;
    border-color: $brand-secondary;
  }
}