.signature-pad-collapsible {
  button {
    display: block;
    margin: 1em auto;
  }
  .signature-pad {
    button {
      margin: 1em 0 0 auto;
    }
    canvas {
      display: block;
      margin: auto;
      border: solid 2px #555;
      border-radius: 5px;
    }
  }
}
