<!DOCTYPE html>
<html>
  <head>
    <%#= stylesheet_link_tag "proof.css" %>
    <%= wicked_pdf_stylesheet_link_tag "landscape.css" %>
  </head>
  <body>
    <div id="outer">
      <div id="inner">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
