<!DOCTYPE html>
<html>
  <head>
    <%#= stylesheet_link_tag "proof.css" %>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"></script>
    <!-- <script src="jquery.textfill.min.js"></script> -->
    <%= wicked_pdf_javascript_include_tag "jquery.textfill.min.js" %>
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <%= wicked_pdf_stylesheet_link_tag "landscapeInside.css" %>
    <%= wicked_pdf_javascript_include_tag "proof" %>
  </head>
  <body>
    <div id="outer">
      <div id="inner">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
